node_modules/
dist/
dist-test/
dist-native/
android/
*.tsbuildinfo
.DS_Store
DerivedData/
*.xcarchive
*.ipa
*.p12
*.cer
*.mobileprovision
*.provisionprofile
ios/App/build/
ios/App/DerivedData/
ios/App/App.xcworkspace/xcuserdata/
ios/App/App.xcodeproj/xcuserdata/
ios/App/App.xcodeproj/project.xcworkspace/xcuserdata/
